/*
Notes:
- Nav bar formatting is below and commented

 */
body{
    background-color: rgb(31, 31, 31);
}

/* div handling classes */
.white-background {
    background-color: white;
}

.parallax-window {
    min-height: 30rem;
    background: rgba(0, 0, 0, 0); /* or use transparent */
}

/* Text  Handling Classes */
.white-font{
    color: white;
}

.black-font{
    color: black !important;
}

.bold{
    font-weight: bold
}

input{
    font-size:14pt
}

.vertical-align {
    vertical-align: middle;
}

/* Handles QR Code scanner */
.qrcode-text {
    padding-right: 1.7em;
    margin-right: 0;
    vertical-align: middle;
}

.qrcode-text-btn {
    display: inline-block;
    height: 1em;
    width: 1em;
    background: url("http://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2017/07/1499401426qr_icon.svg") 50% 50% no-repeat;
    cursor: pointer;
}

.qrcode-text-btn > input[type=file] {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.qrcode-text + .qrcode-text-btn {
    width: 1.7em;
    margin-left: -1.7em;
    vertical-align: middle;
}

.outlined-text {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

/* Handles Blockchain101 Body */

.blockchain101-body{
    padding-left: 3%;
    padding-right: 3%;
}

.parallax-title {
    font-size: 3.25rem;
}
.center-vertical{
    display: flex;
    align-items: center;
}

/* Handles Footer */
.custom-footer{
    padding-top: 2.5rem !important;
    background-color: rgb(31, 31, 31);
}

/* Allows line breaks with  span then paragraph  tags; Unused atm*/
p span 
{
    display: block;
}
/*
.container-parallax{
    width: 100%;
    margin: 0;
    background: white;
    height: 100%;
}

.parallax1{
    background: url("../images/beeimage.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 80rem;
}
/*

/*@font-face {
    font-family: rockwell;
    src: url('../fonts/rockwell/ROCK.TTF') format('TTF');
}

@font-face {
    font-family: rockwellbold;
    src: url('../fonts/rockwell/rockb.ttf') format('ttf');
    font-weight: bold;
}

.defaultfont {
    font-family: rockwell;
}

body {
	background-color: RGB(52,58,64);
	margin: 0;
	padding: 0;
}

.basicpadding {
    padding: 1rem;
}

.main-image {
    background-image: url("../images/personal.jpg");
    background-size: cover;
    height: 92vh;
}

.display-spacing {
    padding-left: 12%;
    padding-right: 12%;
}

.btn-spacing-half{
    margin-top: 50vh;}

.btn-sizing{
    min-width: 16rem;
}
*/

/* nav bar formatting below */
.lgg-logo{
        width: 150px;
        height: 200px;
}

.darken_image {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.nav-bar-additional{
    padding-right: 1.5rem;
    padding-left: 2.5rem;
    padding-top: 1.5rem;
}

.grey-background{
    background-color: rgb(38,38,38); /* 31,31,31 is the old dark grey*/
}
 .center-horizontally{
     
 }
.inline-links{
display: inline-block;
}

.icon-format{
    height: 2rem;
    width: 2rem;
    background-color: rgba(43, 43, 43, 0);
    margin-left: .7rem;
    margin-right: .7rem;
}

@media only screen and (max-width: 540px) {
}

@media only screen and (max-width: 720px) {
    /* navbar */
    .lgg-logo{
        width: 75px;
        height: 100px;
    }

}

@media only screen and (max-width: 960px) {
    /* navbar */
    /*.lgg-logo{
        width: 75px;
        height: 100px;
    } */
}

@media only screen and (max-width: 1140px) {

}